@charset "utf-8";

$mobile: 'screen and (max-width:510px)';
$pc: 'screen and (min-width:510px)';

body {
	@media #{$pc} {
		background-color: #ffd700;
	}
	min-width: 480px;
	background-color: #fff;
	> #wrap {
		> h1 {
			display: none;
			@media #{$pc} {
				display: block;
				font-size: 32px;
				line-height: 25;
				font-weight: normal;
				text-align: center;
			}
		} //end of h1

		> #mobile {
			min-width: 480px;
			background-color: #fff;
			@media #{$pc} {
				display: none;
			}

			> header {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 10px;

				> .wifi {
					position: absolute;
					left: 10px;
					top: 0;
					letter-spacing: 1px;
				}

				> h2 {
					font-size: 15px;
					font-weight: normal;
					letter-spacing: 2px;
				}

				> .battery {
					position: absolute;
					top: 0;
					right: 20px;
					font-size: 16px;
				}
			} //end of header

			> section {
				overflow: hidden;
				position: relative;
				width: 480px;
				height: 805px;

				> .article {
					> .article-container {
						display: flex;
						flex-flow: row nowrap;

						position: absolute;
						left: 0;
						top: 0;

						left: -960px;
						left: -1440px;
						left: 0;
						left: -480px;

						width: calc(480px * 4);
						> .article-box {
							width: 480px;
							background-position: center center;
							background-size: cover;
							> .friends {
								position: relative;
								display: flex;
								justify-content: center;
								align-items: center;
								margin-top: 10px;
								> h3 {
									position: absolute;
									top: 28px;
									left: 22px;
									font-size: 28px;
									font-weight: 500;
								}

								> h4 {
									position: absolute;
									top: 28px;
									right: 10px;
									font-size: 28px;
									letter-spacing: 10px;
									cursor: pointer;
									> a {
										&:hover {
											color: red;
										}
									}
								}

								> .my {
									position: absolute;
									top: 100px;
									left: 22px;
									> .img {
										width: 80px;
										height: 80px;
										color: #fff;
										font-size: 50px;
										text-align: center;
										line-height: 75px;
										background-color: #ccc;
										border: 1px solid #ccc;
										border-radius: 35px;
									}
									> .name {
										position: absolute;
										top: 20px;
										left: 100px;
										width: 70px;
										font-size: 20px;
										font-weight: bold;
									}

									> .msg {
										position: absolute;
										top: 50px;
										left: 100px;
										width: 70px;
										font-size: 14px;
									}
								}

								> .fb {
									position: absolute;
									top: 195px;
									left: 30px;
									width: 430px;
									line-height: 1.5;
									border-top: 1px solid #dedede;

									> li {
										&:first-child {
											display: flex;
											flex-flow: row wrap;
											margin-top: 18px;
											margin-bottom: 10px;
										}
										&.img {
											> figure {
												width: 60px;
												height: 60px;
												border-radius: 26px;
												box-sizing: border-box;
												> img {
													display: block;
													width: 100%;
													border-radius: 22px;
												}
											}
										}
										&:last-child {
											position: absolute;
											top: 60px;
											left: 80px;
											font-weight: 500;
											font-size: 15px;
										}
									}
								} //end of .fb

								> .plus {
									position: absolute;
									top: 312px;
									left: 30px;
									width: 430px;
									line-height: 1.5;
									border-top: 1px solid #dedede;

									> li {
										&:first-child {
											display: flex;
											flex-flow: row wrap;
											margin-top: 18px;
											margin-bottom: 10px;
										}
										&.img {
											> figure {
												width: 60px;
												height: 60px;
												border-radius: 26px;
												box-sizing: border-box;
												> img {
													display: block;
													width: 100%;
													border-radius: 22px;
												}
											}
										}
										&:last-child {
											position: absolute;
											top: 60px;
											left: 80px;
											font-weight: 500;
											font-size: 15px;
										}
									}
								} //end of .plus

								> .find {
									position: absolute;
									top: 430px;
									left: 30px;
									width: 430px;
									line-height: 1.5;
									border-top: 1px solid #dedede;

									> li {
										&:first-child {
											display: flex;
											flex-flow: row wrap;
											margin-top: 18px;
											margin-bottom: 8px;
										}

										&:nth-child(2) {
											> ol {
												&:hover {
													background-color: #faf6e0;
													cursor: pointer;
												}
												> li {
													&.img {
														> figure {
															width: 60px;
															height: 60px;
															border-radius: 26px;
															box-sizing: border-box;
															> img {
																display: block;
																width: 100%;
																border-radius: 22px;
															}
														}
													}
													&:nth-child(2) {
														position: absolute;
														left: 80px;
														top: 50px;
														font-weight: 600;
														font-size: 20px;
													}
													&:last-child {
														position: absolute;
														left: 80px;
														top: 80px;
														color: #a3a2a2;
													}
												}
											}
										}
									}
								} //end of .find
							} //end of .friends
						} //end of .article-box

						> .article-box_2 {
							width: 480px;
							> .talk {
								position: relative;
								display: flex;
								justify-content: center;
								align-items: center;
								margin-top: 10px;

								> h3 {
									position: absolute;
									top: 28px;
									left: 20px;
									font-size: 28px;
									font-weight: 500;
								}

								> h4 {
									position: absolute;
									top: 28px;
									left: 90px;
									color: #dedede;
									font-size: 28px;
									font-weight: 500;
								}

								> h5 {
									position: absolute;
									top: 28px;
									right: 0;
									font-size: 28px;
									letter-spacing: 30px;
									cursor: pointer;
									> a {
										&:hover {
											color: red;
										}
									}
								}
								> .grouptalk {
									> .group {
										width: 430px;
										height: 80px;
										margin: 0 auto;
										position: absolute;
										top: 100px;
										left: 28px;

										> .img {
											width: 80px;
											height: 80px;

											> .fas.fa-user {
												float: left;
												width: 35px;
												height: 35px;
												color: darken(#83c4dd, 20%);
												font-size: 25px;
												text-align: center;
												line-height: 35px;
												background-color: #83c4dd;
												border: 1px solid #83c4dd;
												border-radius: 14px;

												&:first-child {
													margin-right: 3px;
													color: darken(#48b951, 10%);
													background-color: #48b951;
													border: 1px solid #48b951;
												}

												&:nth-child(2) {
													margin-bottom: 3px;
												}

												&:last-child {
													margin-left: 3px;
												}
											}
										}

										.name {
											position: absolute;
											top: 13px;
											left: 92px;
											width: 250px;
											font-size: 23px;
											font-weight: bold;
										}

										.txt {
											position: absolute;
											top: 43px;
											left: 92px;
											width: 250px;
											color: #a3a2a2;
											font-size: 15px;
										}

										> .date {
											position: absolute;
											top: 28px;
											left: 375px;
											width: 80px;
											color: #a3a2a2;
										}

										&:hover {
											background-color: #faf6e0;
										}
									} //end of .group
								} //end of .grouptalk
							} //end of .talk
						} //end of .article-box_2

						> .article-box_3 {
							width: 480px;

							> .search {
								position: relative;
								display: flex;
								justify-content: center;
								align-items: center;
								margin-top: 10px;

								> h3 {
									position: absolute;
									top: 28px;
									left: 20px;
									font-size: 28px;
									font-weight: 500;
								}

								> h4 {
									position: absolute;
									top: 28px;
									right: 8px;
									font-size: 28px;
									letter-spacing: 12px;
									cursor: pointer;
									> a {
										&:hover {
											color: red;
										}
									}
								}

								> .nav {
									> li {
										display: flex;
										justify-content: space-evenly;
										position: absolute;
										top: 120px;
										left: 0;
										width: 480px;
										padding: 0 10px;
										font-size: 46px;
										text-align: center;
										cursor: pointer;

										> ol {
											> li {
												&:nth-child(2) {
													font-size: 13px;
												}
											}
										}
									}
								} //end of .nav

								> .plususer {
									position: absolute;
									top: 220px;
									width: 430px;
									border-top: 1px solid #dedede;

									> li {
										margin-top: 28px;
										font-size: 16px;

										&:nth-child(2) {
											height: 80px;
											&:hover {
												background-color: #ffee8d;
												cursor: pointer;
											}
											> ol {
												display: flex;
												flex-flow: row nowrap;
												line-height: 2.3;

												> li {
													&.img {
														margin-left: 15px;
														margin-top: 15px;
														> figure {
															width: 50px;
															height: 50px;
															border-radius: 50%;
															> img {
																width: 100%;
																border-radius: 50%;
															}
														}
													}

													&:nth-child(2) {
														margin-top: 15px;
														margin-left: 20px;
														font-weight: 500;
														font-size: 20px;
													}

													&:nth-child(3) {
														position: absolute;
														top: 85px;
														right: 10px;
														font-size: 20px;
													}
												}
											}
										} //end of &:nth-child(2)
									} //end of li
								} //end of .plususer
							} //end of .search
						} //end of .article-box_3

						> .article-box_4 {
							width: 480px;

							> .more {
								position: relative;
								display: flex;
								justify-content: center;
								align-items: center;
								margin-top: 10px;

								> h3 {
									position: absolute;
									top: 28px;
									left: 20px;
									font-size: 28px;
									font-weight: 500;
								}

								> h4 {
									position: absolute;
									top: 28px;
									right: 8px;
									font-size: 28px;
									letter-spacing: 12px;
									cursor: pointer;
									> a {
										&:hover {
											color: red;
										}
									}
								}

								> .my {
									position: absolute;
									top: 100px;
									left: 22px;
									> .img {
										width: 80px;
										height: 80px;
										color: #fff;
										font-size: 50px;
										text-align: center;
										line-height: 75px;
										background-color: #ccc;
										border: 1px solid #ccc;
										border-radius: 35px;
									}
									> .name {
										position: absolute;
										top: 20px;
										left: 100px;
										width: 70px;
										font-size: 20px;
										font-weight: bold;
									}

									> .msg {
										position: absolute;
										top: 50px;
										left: 100px;
										width: 70px;
										font-size: 14px;
									}
								}

								> .nav {
									position: absolute;
									top: 250px;
									width: 480px;

									> li {
										display: flex;
										justify-content: space-evenly;
										font-size: 50px;
										text-align: center;

										> ol {
											> li {
												&:nth-child(2) {
													font-size: 14px;
												}
											}
										}
									} //end of li
								} //end of .nav
							} //end of .more
						} //end of .article-box_4
					} //end of .article-container
				}
			} //end of section

			> footer {
				> div {
					width: 480px;
					height: 70px;
					position: fixed;
					bottom: 0;
					font-size: 25px;
					line-height: 70px;
					text-align: center;
					border-top: 1px solid #ccc;
					background-color: #fafafa;

					> a {
						display: inline;
						height: 70px;
						> .far.fa-user {
							position: absolute;
							top: 25px;
							left: 65px;

							&:hover {
								color: #fa6f6f;
							}
						}

						> .fas.fa-comment {
							position: absolute;
							top: 25px;
							left: 175px;

							&:hover {
								color: #fa6f6f;
							}
						}

						> .fas.fa-search {
							position: absolute;
							top: 25px;
							right: 175px;

							&:hover {
								color: #fa6f6f;
							}
						}

						> .fas.fa-ellipsis-h {
							position: absolute;
							top: 25px;
							right: 65px;

							&:hover {
								color: #fa6f6f;
							}
						}
					} //end of a
				} //end of div
			} //end of footer
		} //end of #mobile
	} //end of #wrap
} //end of body
