body {
  min-width: 480px;
  background-color: #fff;
}
@media screen and (min-width:510px) {
  body {
    background-color: #ffd700;
  }
}
body > #wrap > h1 {
  display: none;
}
@media screen and (min-width:510px) {
  body > #wrap > h1 {
    display: block;
    font-size: 32px;
    line-height: 25;
    font-weight: normal;
    text-align: center;
  }
}
body > #wrap > #mobile {
  min-width: 480px;
  background-color: #fff;
}
@media screen and (min-width:510px) {
  body > #wrap > #mobile {
    display: none;
  }
}
body > #wrap > #mobile > header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
body > #wrap > #mobile > header > .wifi {
  position: absolute;
  left: 10px;
  top: 0;
  letter-spacing: 1px;
}
body > #wrap > #mobile > header > h2 {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 2px;
}
body > #wrap > #mobile > header > .battery {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 16px;
}
body > #wrap > #mobile > section {
  overflow: hidden;
  position: relative;
  width: 480px;
  height: 805px;
}
body > #wrap > #mobile > section > .article > .article-container {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  left: 0;
  top: 0;
  left: -480px;
  left: -960px;
  left: -1440px;
  left: 0;
  width: 1920px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box {
  width: 480px;
  background-position: center center;
  background-size: cover;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > h3 {
  position: absolute;
  top: 28px;
  left: 20px;
  font-size: 28px;
  font-weight: 500;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > h4 {
  position: absolute;
  top: 28px;
  left: 90px;
  color: #dedede;
  font-size: 28px;
  font-weight: 500;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > h5 {
  position: absolute;
  top: 28px;
  right: 0;
  font-size: 28px;
  letter-spacing: 30px;
  cursor: pointer;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > h5 > a:hover {
  color: red;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group {
  width: 430px;
  height: 80px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 28px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group > .img {
  width: 80px;
  height: 80px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group > .img > .fas.fa-user {
  float: left;
  width: 35px;
  height: 35px;
  color: #369dc4;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  background-color: #83c4dd;
  border: 1px solid #83c4dd;
  border-radius: 14px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group > .img > .fas.fa-user:first-child {
  margin-right: 3px;
  color: #399540;
  background-color: #48b951;
  border: 1px solid #48b951;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group > .img > .fas.fa-user:nth-child(2) {
  margin-bottom: 3px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group > .img > .fas.fa-user:last-child {
  margin-left: 3px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group .name {
  position: absolute;
  top: 13px;
  left: 92px;
  width: 250px;
  font-size: 23px;
  font-weight: bold;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group .txt {
  position: absolute;
  top: 43px;
  left: 92px;
  width: 250px;
  color: #a3a2a2;
  font-size: 15px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group > .date {
  position: absolute;
  top: 28px;
  left: 375px;
  width: 80px;
  color: #a3a2a2;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box > .talk > .grouptalk > .group:hover {
  background-color: #faf6e0;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 {
  width: 480px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 > .friends {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 > .friends > h3 {
  position: absolute;
  top: 28px;
  left: 22px;
  font-size: 28px;
  font-weight: 500;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 > .friends > h4 {
  position: absolute;
  top: 28px;
  right: 10px;
  font-size: 28px;
  letter-spacing: 10px;
  cursor: pointer;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 > .friends > h4 > a:hover {
  color: red;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 > .friends > .my {
  position: absolute;
  top: 100px;
  left: 22px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 > .friends > .my > .img {
  width: 80px;
  height: 80px;
  color: #fff;
  font-size: 50px;
  text-align: center;
  line-height: 75px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 35px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 > .friends > .my > .name {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 70px;
  font-size: 20px;
  font-weight: bold;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_2 > .friends > .my > .msg {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 70px;
  font-size: 14px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_3 {
  width: 480px;
}
body > #wrap > #mobile > section > .article > .article-container > .article-box_4 {
  width: 480px;
}
body > #wrap > #mobile > footer > div {
  width: 480px;
  height: 70px;
  position: absolute;
  bottom: 0;
  font-size: 25px;
  line-height: 70px;
  text-align: center;
  border-top: 1px solid #ccc;
  background-color: #fafafa;
}
body > #wrap > #mobile > footer > div > a {
  display: inline;
  height: 70px;
}
body > #wrap > #mobile > footer > div > a > .far.fa-user {
  position: absolute;
  top: 25px;
  left: 65px;
}
body > #wrap > #mobile > footer > div > a > .far.fa-user:hover {
  color: #fa6f6f;
}
body > #wrap > #mobile > footer > div > a > .fas.fa-comment {
  position: absolute;
  top: 25px;
  left: 175px;
}
body > #wrap > #mobile > footer > div > a > .fas.fa-comment:hover {
  color: #fa6f6f;
}
body > #wrap > #mobile > footer > div > a > .fas.fa-search {
  position: absolute;
  top: 25px;
  right: 175px;
}
body > #wrap > #mobile > footer > div > a > .fas.fa-search:hover {
  color: #fa6f6f;
}
body > #wrap > #mobile > footer > div > a > .fas.fa-ellipsis-h {
  position: absolute;
  top: 25px;
  right: 65px;
}
body > #wrap > #mobile > footer > div > a > .fas.fa-ellipsis-h:hover {
  color: #fa6f6f;
}/*# sourceMappingURL=style.css.map */